BricaChocMVC/Service References/WcfServiceTva/ServiceTva1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BricachocBo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BricachocBo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTva">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tva" nillable="true" type="tns:Tva" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTva" nillable="true" type="tns:ArrayOfTva" />
  <xs:complexType name="Tva">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="Taux" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tva" nillable="true" type="tns:Tva" />
</xs:schema>