BricaChocMVC/Service References/WcfServiceTva/ServiceTva2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Geronimo/ServiceTva.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BricachocBo" />
  <xs:element name="ChargerLesTvas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerLesTvasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BricachocBo" minOccurs="0" name="ChargerLesTvasResult" nillable="true" type="q1:ArrayOfTva" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreerTva">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BricachocBo" minOccurs="0" name="t" nillable="true" type="q2:Tva" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreerTvaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MettreAJourTva">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BricachocBo" minOccurs="0" name="t" nillable="true" type="q3:Tva" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MettreAJourTvaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Supprimer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupprimerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RechercherTva">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechercherTvaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BricachocBo" minOccurs="0" name="RechercherTvaResult" nillable="true" type="q4:Tva" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>