BricaChocMVC/Service References/WcfServiceTva/ServiceTva.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceTva" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Geronimo/ServiceTva.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Geronimo/ServiceTva.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Geronimo/ServiceTva.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BricachocBo" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceTva_ChargerLesTvas_InputMessage">
    <wsdl:part name="parameters" element="tns:ChargerLesTvas" />
  </wsdl:message>
  <wsdl:message name="IServiceTva_ChargerLesTvas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChargerLesTvasResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceTva_CreerTva_InputMessage">
    <wsdl:part name="parameters" element="tns:CreerTva" />
  </wsdl:message>
  <wsdl:message name="IServiceTva_CreerTva_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreerTvaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceTva_MettreAJourTva_InputMessage">
    <wsdl:part name="parameters" element="tns:MettreAJourTva" />
  </wsdl:message>
  <wsdl:message name="IServiceTva_MettreAJourTva_OutputMessage">
    <wsdl:part name="parameters" element="tns:MettreAJourTvaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceTva_Supprimer_InputMessage">
    <wsdl:part name="parameters" element="tns:Supprimer" />
  </wsdl:message>
  <wsdl:message name="IServiceTva_Supprimer_OutputMessage">
    <wsdl:part name="parameters" element="tns:SupprimerResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceTva_RechercherTva_InputMessage">
    <wsdl:part name="parameters" element="tns:RechercherTva" />
  </wsdl:message>
  <wsdl:message name="IServiceTva_RechercherTva_OutputMessage">
    <wsdl:part name="parameters" element="tns:RechercherTvaResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceTva">
    <wsdl:operation name="ChargerLesTvas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceTva/ChargerLesTvas" message="tns:IServiceTva_ChargerLesTvas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceTva/ChargerLesTvasResponse" message="tns:IServiceTva_ChargerLesTvas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreerTva">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceTva/CreerTva" message="tns:IServiceTva_CreerTva_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceTva/CreerTvaResponse" message="tns:IServiceTva_CreerTva_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MettreAJourTva">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceTva/MettreAJourTva" message="tns:IServiceTva_MettreAJourTva_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceTva/MettreAJourTvaResponse" message="tns:IServiceTva_MettreAJourTva_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Supprimer">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceTva/Supprimer" message="tns:IServiceTva_Supprimer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceTva/SupprimerResponse" message="tns:IServiceTva_Supprimer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RechercherTva">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceTva/RechercherTva" message="tns:IServiceTva_RechercherTva_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceTva/RechercherTvaResponse" message="tns:IServiceTva_RechercherTva_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceTva" type="tns:IServiceTva">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChargerLesTvas">
      <soap:operation soapAction="http://tempuri.org/IServiceTva/ChargerLesTvas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreerTva">
      <soap:operation soapAction="http://tempuri.org/IServiceTva/CreerTva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MettreAJourTva">
      <soap:operation soapAction="http://tempuri.org/IServiceTva/MettreAJourTva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Supprimer">
      <soap:operation soapAction="http://tempuri.org/IServiceTva/Supprimer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RechercherTva">
      <soap:operation soapAction="http://tempuri.org/IServiceTva/RechercherTva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceTva">
    <wsdl:port name="BasicHttpBinding_IServiceTva" binding="tns:BasicHttpBinding_IServiceTva">
      <soap:address location="http://localhost/Geronimo/ServiceTva.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>