BricachocMvcBis/Service References/ServiceArticle/ServiceArticle1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.121.61.33/ServiceArticle/ServiceArticle.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BricachocBo" />
  <xs:element name="ChargerLesProduits">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerLesProduitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BricachocBo" minOccurs="0" name="ChargerLesProduitsResult" nillable="true" type="q1:ArrayOfProduit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechercherProduit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RechercherProduitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BricachocBo" minOccurs="0" name="RechercherProduitResult" nillable="true" type="q2:Produit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerLesFamilles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ChargerLesFamillesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BricachocBo" minOccurs="0" name="ChargerLesFamillesResult" nillable="true" type="q3:ArrayOfFamille" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreerProduit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BricachocBo" minOccurs="0" name="p" nillable="true" type="q4:Produit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreerProduitResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProduit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BricachocBo" minOccurs="0" name="p" nillable="true" type="q5:Produit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProduitResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>