BricachocMvcBis/Service References/ServiceArticle/ServiceArticle.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceArticle" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.121.61.33/ServiceArticle/ServiceArticle.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.121.61.33/ServiceArticle/ServiceArticle.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.121.61.33/ServiceArticle/ServiceArticle.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BricachocBo" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceArticle_ChargerLesProduits_InputMessage">
    <wsdl:part name="parameters" element="tns:ChargerLesProduits" />
  </wsdl:message>
  <wsdl:message name="IServiceArticle_ChargerLesProduits_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChargerLesProduitsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceArticle_RechercherProduit_InputMessage">
    <wsdl:part name="parameters" element="tns:RechercherProduit" />
  </wsdl:message>
  <wsdl:message name="IServiceArticle_RechercherProduit_OutputMessage">
    <wsdl:part name="parameters" element="tns:RechercherProduitResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceArticle_ChargerLesFamilles_InputMessage">
    <wsdl:part name="parameters" element="tns:ChargerLesFamilles" />
  </wsdl:message>
  <wsdl:message name="IServiceArticle_ChargerLesFamilles_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChargerLesFamillesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceArticle_CreerProduit_InputMessage">
    <wsdl:part name="parameters" element="tns:CreerProduit" />
  </wsdl:message>
  <wsdl:message name="IServiceArticle_CreerProduit_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreerProduitResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceArticle_UpdateProduit_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProduit" />
  </wsdl:message>
  <wsdl:message name="IServiceArticle_UpdateProduit_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProduitResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceArticle">
    <wsdl:operation name="ChargerLesProduits">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceArticle/ChargerLesProduits" message="tns:IServiceArticle_ChargerLesProduits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceArticle/ChargerLesProduitsResponse" message="tns:IServiceArticle_ChargerLesProduits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RechercherProduit">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceArticle/RechercherProduit" message="tns:IServiceArticle_RechercherProduit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceArticle/RechercherProduitResponse" message="tns:IServiceArticle_RechercherProduit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChargerLesFamilles">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceArticle/ChargerLesFamilles" message="tns:IServiceArticle_ChargerLesFamilles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceArticle/ChargerLesFamillesResponse" message="tns:IServiceArticle_ChargerLesFamilles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreerProduit">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceArticle/CreerProduit" message="tns:IServiceArticle_CreerProduit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceArticle/CreerProduitResponse" message="tns:IServiceArticle_CreerProduit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProduit">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceArticle/UpdateProduit" message="tns:IServiceArticle_UpdateProduit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceArticle/UpdateProduitResponse" message="tns:IServiceArticle_UpdateProduit_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceArticle" type="tns:IServiceArticle">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ChargerLesProduits">
      <soap:operation soapAction="http://tempuri.org/IServiceArticle/ChargerLesProduits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RechercherProduit">
      <soap:operation soapAction="http://tempuri.org/IServiceArticle/RechercherProduit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChargerLesFamilles">
      <soap:operation soapAction="http://tempuri.org/IServiceArticle/ChargerLesFamilles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreerProduit">
      <soap:operation soapAction="http://tempuri.org/IServiceArticle/CreerProduit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProduit">
      <soap:operation soapAction="http://tempuri.org/IServiceArticle/UpdateProduit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceArticle">
    <wsdl:port name="BasicHttpBinding_IServiceArticle" binding="tns:BasicHttpBinding_IServiceArticle">
      <soap:address location="http://10.121.61.33/ServiceArticle/ServiceArticle.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>